<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userDao" class="com.zk.spring.aop.dao.UserDao"/>
    <bean id="employeeDao" class="com.zk.spring.aop.dao.EmployeeDao"/>
    <bean id="userService" class="com.zk.spring.aop.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="employeeService" class="com.zk.spring.aop.service.EmployeeService">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    <!--  AOP配置  -->
    <bean id="methodAspect" class="com.zk.spring.aop.aspect.MethodAspect"/>
    <aop:config>
        <!--  PointCut 切点, 使用execution表达式描述切面的作用范围  -->
        <aop:pointcut id="pointcut" expression="execution(* com.zk..*.*(..))"/>
        <aop:aspect ref="methodAspect">
            <aop:before method="printExecutionTime" pointcut-ref="pointcut"/>
            <aop:after method="doAfter" pointcut-ref="pointcut"/>
            <aop:after-returning method="doAfterReturning" returning="ret" pointcut-ref="pointcut"/>
            <aop:after-throwing method="doAfterThrowing" throwing="th" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>