<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    filter标签用于说明哪个类是过滤器, 并在应用启动时自动加载-->
    <filter>
        <filter-name>MyFirstFilter</filter-name>
        <filter-class>com.zk.filter.MyFirstFilter</filter-class>
    </filter>
    
<!--    <filter>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <filter-class>com.zk.filter.CharacterEncodingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>p1</param-name>-->
<!--            <param-value>v1</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>p2</param-name>-->
<!--            <param-value>v2</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

<!--    filter-mapping标签用于说明过滤器对URL应用的范围-->
<!--    url-pattern 说明过滤器作用范围, /* 代表对所有URL进行过滤-->
    <filter-mapping>
        <filter-name>MyFirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    <filter-mapping>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>