<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>patternServlet</servlet-name>
        <servlet-class>com.zk.servlet.pattern.PatternServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>patternServlet</servlet-name>
        <url-pattern>/pattern/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>copyright</param-name>
        <param-value>©2020 Baidu (京)-经营性-2017-0020 京公网安备11000002000001号 京ICP证030173号</param-value>
    </context-param>
    <context-param>
        <param-name>title</param-name>
        <param-value>百度一下, 你就知道</param-value>
    </context-param>

<!--    指定错误页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
</web-app>